
:root {
    --font-main: 'Baloo';
    --font-size: 20px;
    --bg-color: #FFFF;
    --bg-color-opacity-9: rgba(199, 77, 39);
    --color: rgb(199, 77, 39);
  }
  html {
    font-size: var(--font-size);
    font-family: var(--font-main);
    
  
  }
  h3 { color: rgb(199, 77, 39); }
  a { color: rgb(199, 77, 39); }
  
.brand-logo{
  margin-bottom: 10px;
}
  .Header { background-color: var(--bg-color); }
  
  .brand-logo img { max-height: 64px; }
  

  @media screen and (min-width: 37.5em) {
  
  }
  
  @media screen and (min-width: 62em) {
  
  }
  
  @media screen and (min-width: 75em) {
  }

nav ul a {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    font-size: 1rem;
    color: #4E9867;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}
nav{
    color:#4E9867;
}