
:root {
    --font-main: 'Baloo';
    --font-size: 20px;
    --bg-color: #FFDA5C;
    --bg-color-opacity-9: rgba(226, 174, 62, 0.9);
    --color: rgb(13, 11, 90);
  }
  html {
    font-size: var(--font-size);
    font-family: var(--font-main);
    
  
  }
  h3 { color: rgb(27, 11, 119); }
  a { color: rgb(27, 11, 119); }

.brand-logo{
    margin-top: 10px;
}
  .Header { background-color: var(--bg-color); }
  
  .brand-logo img { max-height: 64px; }
  

  @media screen and (min-width: 37.5em) {
  
  }
  
  @media screen and (min-width: 62em) {
  
  }
  
  @media screen and (min-width: 75em) {
  }